# Local .terraform directories and files
**/.terraform/*
.terraform*
!.terraformrc
kube-prometheus
# .tfstate files
*.tfstate
*.tfstate.*
*.env

# own secret vars store.
personal.auto.tfvars
cmd_kube
hosts.ini
rke2_master_ip.txt
rke2_token.txt
authorized_key.json
token.hcl
config